{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p> Друзья, скоро мы отметим удивительный праздник — День народного единства! Это день, когда мы отмечаем сплочённость и силу нашего народа.

В этот день в парке вас ждут множество увлекательных мероприятий и сюрпризов! Возьмите с собой друзей и семью, чтобы вместе погрузиться в атмосферу веселья и единства.

Ждём вас в парке, чтобы вместе праздновать и создавать яркие воспоминания! 🎡❤

👉 Лайк, если придёте!</p>

{% endblock %}
